* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tx_error {
    display: flex;
    gap: 48px;
    flex-direction: column;

    padding: 12px;
}

.tx_a {
    width: 312px;
}

.tittle_error {
    font-size: 9rem;
    color: #F68D88;
}

.p_ {
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--b_);
}

.par_error, .p_ {
    margin: 8px 0;
}

.span_p {
    font-size: 1.4rem;
    color: var(--blue_dark);
}


.bg_error .img_error {
    width: 100%;
    height: 100%;
}

.back .tmr {
    margin-right: 4px;
}

.abt {
    color: var(--blue_dark);
}

footer {
    position: absolute;
    bottom: 16px;
    text-align: center;
    right: 0;
    left: 0;
}

p.footer {
    color: var(--type);
}

@media (max-width: 700px) {
    .layout {
        width: 100%;
    }    

    .error {
        flex-direction: column;
    }
}

@media (max-width: 330px) {
    .tx_error {
        width: 100%;
        align-items: center;
    }

    .tx_a {
        width: 100%;
    }
}