* {
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    height: 100%;
}

.login {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.area_login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 80px;

    background: #f4f4f4;
    width: 560px;
    height: 100%;
}

.form {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

/* Logo */
.header_login {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 10px;
}

.name_logo {
    color: #404B7C;
    font-size: 2rem;
}
/* 
form input {
    display: block;
    padding: 16px;

    height: 60px;
} */

/* .in {
    border-radius: 5px;
    border: 2px solid #D1DCED;
    background: #f4f4f4;

    min-width: 372px;
} */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

/* form {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-content: center;
    row-gap: 16px;

    width: 100%;
} */

.o {
    color: #fff;
    font-family: var(--Pop);
}

.bt_login {
    background: #404B7C;
    height: 60px;
    width: 170px;

    border: none;
    border-radius: 35px;

    cursor: pointer;
}

.dis_btn {
    opacity: 0.6;
    cursor: no-drop;
}

.bt_login:hover {
    background: var(--btn-hover);
}

.tittle_login h1 {
    font-size: 4rem;
    color: #404B7C;

    margin-bottom: 16px;
}

::placeholder {
    color: #9AB3DA;
    font-size: 1.4rem;
}

.h_A {
    color: #9AB3DA;
    font-size: 1.4rem;
    font-weight: 400;
}

.h_A:hover {
    color: #6082C2;
}

.footer_login {
    display: flex;
    gap: 80px;

    padding: 16px 0;
}

/* Img bg */
.bg_login {
    background: #f1f1f1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Img bg */

@media (max-width: 1370px) {
    .bg_login img {
        width: 100%;
    }
}

@media (max-width: 1170px) {
    .login {
        display: block;
    }

    .bg_login {
        visibility: hidden;
        opacity: 0;
        display: none;
    }

    .area_login {
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}

@media (max-width: 460px) {
    .send .in, .b_c {
        width: 100%;
    }
    
    form {
        width: 100%;
    }
}

/* inputs
.n_s {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.name, .last_name {
    border: 1px solid #9AB3DA;
}

.ch {
    width: 16px;
}
/* inputs */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    padding: 16px;
    max-width: 440px;
}

.send {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    box-sizing: border-box;
    max-width: 372px;
}

.in {
    width: 372px;
    height: 60px;
    box-sizing: border-box;

}

.in input {
    width: 100%;
    height: 100%;

    padding-left: 16px;
    border: 1px solid #9AB3DA;
    border-radius: 5px;
    background: #f4f4f4;
    outline: none;
}

.rd_::placeholder {
    color: red;
}

.req_area {
    opacity: 0; 
}

.act-req {
    transition: all 0.2s ease-in-out;
    opacity: 1;
    color: red;
}

.n_s {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    gap: 16px;
}

.terms {
    display: flex;
    text-align: start;
    align-items: center;
    gap: 8px;
}

label span {
    color: #6082C2;
}

.view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.view p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--type);
}

.sv_ba {
    background: rgba(64, 75, 124, 0.40);
    height: 6px;
    width: 130px;
    border-radius: 10px;
    padding: 1px;
    transition: all 0.2s ease-in-out;
}

.sy_ba {
    height: 100%;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}